# Environment files
.env

# Maven
target/
.mvn/

# Project-local Maven build
.maven-build/

# IDE
.vscode/
.idea/

# Java
*.class

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

#Local application configuration
src/main/resources/application.properties

